@import '../../styles/variables.module.scss';

.title {
  font-weight: 100;
  font-size: 48px;
  color: $title-color;
}

.isDone {
  text-decoration: line-through;
  text-decoration-color: $gray-color;
  font-weight: bold;
  color: $gray-color;
  font-size: 20px;
}
.notIsDone {
  font-weight: bold;
  color: $green-color;
  font-size: 20px;
}

.controlPanel {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.listItem {
  border-bottom: 1px solid $black-color;

  &:first-child {
    border-top: 1px solid $black-color;
  }
}

.button {
  @media screen and (max-width: $table) {
    font-size: 10px;
  }

  @media screen and (max-width: $mobile) {
    font-size: 8px;
  }
}

.clearButton,
.leftTasks {
  display: flex;
  text-align: center;
  font-size: 18px;
  @media screen and (max-width: $table) {
    font-size: 16px;
  }

  @media screen and (max-width: $mobile) {
    font-size: 12px;
  }

  @media screen and (max-width: $breakpoint_385px) {
    font-size: 10px;
  }
}

.leftTasks {
  margin-right: 5px;
}

.displayNone {
  @media screen and (max-width: $mobile) {
    display: none;
  }
}

.clearButton {
  margin-left: 5px;
}

.emptyList {
  margin: 0 auto;
  text-align: center;
  padding: 25px 0;
}
