.content {
  max-width: 500px;
  margin: 200px auto 0;
  padding: 0 10px;

  // @media screen and (max-width: $desktop) {
  //   max-width: 1230px;
  //   width: 100%;
  //   // padding: 0 15px;
  // }

  // @media screen and (max-width: $mobile) {
  //   max-width: 446px;
  //   padding: 0 16px;
  // }
}
