$black-color: #040404;
$white-color: #fff;
$gray-light-color: #c1c1ca;
$gray-color: #787880;
$green-color: #8fcb5d;

// media

// $breakpoint_1920px: 1920px;
// $breakpoint_1750px: 1750px;
// $breakpoint_1250px: 1250px;
// $breakpoint_1150px: 1150px;
// $breakpoint_1050px: 1050px;
// $breakpoint_900px: 900px;
// $breakpoint_767px: 767px;
// $breakpoint_625px: 625px;
// $breakpoint_574px: 574px;
// $breakpoint_480px: 480px;
$breakpoint_385px: 385px;

$desktop: 1440px;
$table: 767px;
$mobile: 420px;
