.App{
    margin-top: 250px  ;
    padding: 10px;
}

.isDone {
    text-decoration: line-through;
    font-weight: bold;
    color: #a6aada;
}
.notIsDone {
    font-weight: bold;
    color: #8fcb5d;
}