.App{
    padding: 10px;
    max-width: 500px;
    margin: 200px auto 0;
    border:  solid 1px #dededf;
}

.isDone {
    text-decoration: line-through;
    font-weight: bold;
    color: #a6aada;
}
.notIsDone {
    font-weight: bold;
    color: #8fcb5d;
}

